{% extends "base/index.html" %}
{% block content %}

{% load static %}

<title>Support</title>

<script src="{% static 'assets/bKash-checkout-sandbox.js' %}"></script>

<div class="content has-text-centered">
  <br><br><br>
  <img src="{% static 'assets/icons/smile.svg' %}" style="width: 8em;">
  <h3>Please support me <br>
    Your support will help me do innovative things
    <small>(experimental please don't use your real Bkash credentials!)</small>
  </h3><br>

  <div class="field" style="width: 20em; margin: auto; padding: 10px;">
    {% csrf_token %}
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="text" placeholder="Enter your name" id="name_" required>
      <span class="icon is-small is-left">
        <img src="{% static 'assets/icons/user.svg' %}" style="width:1em;">
      </span>
    </div>
    <br>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="email" placeholder="Email input" id="email_" required>
      <span class="icon is-small is-left">
        <img src="{% static 'assets/icons/envelope.svg' %}" style="width:1em;">
      </span>
    </div>
    <br>
    <div class="control has-icons-left">
      <input class="input is-success" type="number" placeholder="Enter the Amount" style="width: 14em; float: left;" id="amount" required>
      <span class="icon is-small is-left">
        <img src="{% static 'assets/icons/donate.svg' %}" style="width:1em;">
      </span>
    </div>
    <button class="button is-primary is-outlined" onclick="check();" id="pay_button" disabled style="width:4em; float: right;">Pay</button>
  </div>



  <br><br>

  <div id="msg_box" hidden>
    <br><br>
    <article class="message is-warning" style="width: 50%; margin: auto;">
      <div class="message-header">
        <p>Alert</p>
        <button class="delete" aria-label="delete" onclick="delete_msg();"></button>
      </div>
      <div class="message-body" id="msg_content">
      </div>
    </article>
  </div>
  <div style="height: 5em;">
  </div>
  <button type="button" name="button" id="bKash_button" hidden></button>
</div>


<script type="text/javascript">
  let My_amount = '0';

  let paymentID;

  let createCheckoutUrl = 'https://merchantserver.sandbox.bka.sh/api/checkout/v1.2.0-beta/payment/create';
  let executeCheckoutUrl = 'https://merchantserver.sandbox.bka.sh/api/checkout/v1.2.0-beta/payment/execute';

  function validateEmail(email) {
    let res = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    return res.test(email);
  }

  function validateName(name) {
    var cnt = 0;
    while (true) {
      if (name[cnt].charCodeAt(0) > 47 && name[cnt].charCodeAt(0) < 58) {
        return false;
      }
      cnt++;
      if (cnt == name.length) {
        break;
      }
    }
    return true;
  }

  function check() {
    var m = document.getElementById('amount').value;
    if (m < 50) {
      show_msg("Minimum payment is 50tk <br> Thank you for your support");
    } else if (!validateName(document.getElementById('name_').value)) {
      show_msg("Please enter a valid name!");
    } else if (document.getElementById('name_').value == "") {
      show_msg("Please enter your name");
    } else if (!validateEmail(document.getElementById('email_').value)) {
      show_msg("Please enter your email correctly!");
    } else {
      // $.post("make-me-happy", {
      //     name: document.getElementById('name_').value,
      //     email: document.getElementById('email_').value,
      //     amount: document.getElementById('amount').value,
      //     csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
      //   },
      //   show_msg("Success!<br>Thank you very much for your support, you will receive an email soon")
      // );
      My_amount = String(m);
      show_msg("please wait <br> <progress class='progress is-small is-primary' max='100'>15%</progress>");
      bKash.reconfigure({
        paymentRequest: {
          amount: My_amount,
          intent: 'sale',
        }
      });
      $('#bKash_button').click();
    }
  }


  function delete_msg() {
    $('#msg_box').hide();
  }

  function show_msg(string) {
    $("#msg_box").fadeIn();
    document.getElementById('msg_content').innerHTML = string;
  }

  $(document).ready(function() {
    initBkash();
    document.getElementById('pay_button').disabled = false;
  });

  function initBkash() {
    bKash.init({
      paymentMode: 'checkout', // Performs a single checkout.
      paymentRequest: {
        "amount": My_amount,
        "intent": 'sale'
      },

      createRequest: function(request) {
        $.ajax({
          url: createCheckoutUrl,
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(request),
          success: function(data) {

            if (data && data.paymentID != null) {
              paymentID = data.paymentID;
              bKash.create().onSuccess(data);
            } else {
              bKash.create().onError(); // Run clean up code
              show_msg(data.errorMessage + " Tag should be 2 digit, Length should be 2 digit, Value should be number of character mention in Length, ex. MI041234 , supported tags are MI, MW, RF");
            }

          },
          error: function() {
            bKash.create().onError(); // Run clean up code
            alert(data.errorMessage);
          }
        });
      },
      executeRequestOnAuthorization: function() {
        $.ajax({
          url: executeCheckoutUrl,
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({
            "paymentID": paymentID
          }),
          success: function(data) {
            if (data && data.paymentID != null) {
              // On success, perform your desired action
              console.log('[SUCCESS] data : ' + JSON.stringify(data));
              window.location.href = "/success_page.html";
              $.post("make-me-happy", {
                  name: document.getElementById('name_').value,
                  email: document.getElementById('email_').value,
                  amount: document.getElementById('amount').value,
                  csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                function(){
                  show_msg("Success!<br>Thank you very much for your support, you will receive an email soon");
                }
              );

            } else {
              alert('[ERROR] data : ' + JSON.stringify(data));
              bKash.execute().onError(); //run clean up code
            }

          },
          error: function() {
            alert('An alert has occurred during execute');
            bKash.execute().onError(); // Run clean up code
          }
        });
      },
      onClose: function() {
        delete_msg();
      }
    });
  }
</script>

{% endblock %}
