<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="{% static 'assets/jquery.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/bulma.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/index.min.css' %}">
  <link rel="icon" type="image/svg+xml" href="{% static 'assets/icons/flogo.svg' %}">

  <style media="screen">
    body {
      font-family: 'Nunito';
    }
  </style>


</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://omr-online.herokuapp.com/">
        <img src="{% static 'assets/icons/flogo.svg' %}"/>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="https://github.com/TanimSk/omr_online" target="_blank">
          Git Repo
        </a>
        <a class="navbar-item" href="about">
          About
        </a>
        <a class="navbar-item" href="make-me-happy">
          Make me happy &nbsp; <img src="{% static 'assets/icons/smile.svg' %}" style="width: 1em;">
        </a>
      </div>
    </div>
  </nav>

    {% block content %}
    {% endblock %}


  <footer class='footer'>
    <div class='content has-text-centered'>
      <p><strong>OMR-Online</strong>
        <br>By
        <a href='mailto:sktanim5800@gmail.com'>@Tanim Sk</a>
      </p>
    </div>
  </footer>

  <script>
    $(document).ready(function() {
      $(".navbar-burger").click(function() {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>


</body>

</html>
