{% extends "base/index.html" %}
{% block content %}
{% load static %}
<title>img</title>
<style media="screen">
  .btn {
    margin: 10px;
    transition: 0.1s;
  }

  .btn:hover {
    transition: 0.1s;
    background-color: #db7060;
  }

  #dlink {
    padding-right: .5em;
  }
</style>
<div>
  <a href="../omrs">
    <button class="delete is-large btn" style="float: left;"></button>
  </a>
  <a download="omr.jpg" style="float: right;" id="dlink">
    <img src="{% static 'assets/icons/download.svg' %}" style="width:2.2em;">
  </a>
</div>
<br>
<div class="contain has-text-centered">
  <center>
    <h1 style="color: #00ac13; font-size: 1.5em;">
      correct answers:
    </h1>
    <br>
    <img alt="something went wrong!" style="width:60%;" id="omr-image">
  </center>
</div>

<script type="text/javascript">
  s = "{{ img }}";
  document.getElementById('omr-image').src = s;
  document.getElementById('dlink').href = s;
</script>

{% endblock %}
