{% extends "base/index.html" %}
{% block content %}


<title>Submit the OMR Sheet</title>
<style>
  /*drop zone*/
  .drop-zone,
  .anime {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .drop-zone {
    width: 11em;
    height: 11em;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Nunito;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 12px;
  }

  .drop-zone--over {
    border-style: solid;
  }

  .drop-zone__input {
    display: none;
  }

  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }

  .drop-zone__thumb::after {
    content: attr(data-label);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }

  /*drop zone*/
</style>

<div class="main_container">
  <center class="anime">
    {% csrf_token %}
    <br><br><br><br><br>
    <div class="container">
      <div class="drop-zone anime">
        <span class="drop-zone__prompt">Drop file here or click to upload</span>
        <input type="file" class="drop-zone__input" name="upload_img" oninput="en_btn();" accept="image/*">
      </div><br>
      <button class="button is-success is-outlined" style="width: auto; text-align: center;" id="add" onclick="show_msg( 'please wait processing... <br> <progress class=\'progress is-small is-primary\' max=\'100\'>15%</progress>');post_form();">
        CHECK</button>
    </div>
    <br>
    <div id="msg_box" hidden class="anime">
      <article class="message is-warning" style="width: 50%;">
        <div class="message-header">
          <p>Alert</p>
          <button class="delete" aria-label="delete" onclick="delete_msg();"></button>
        </div>
        <div class="message-body" id="msg_content">
        </div>
      </article>
    </div>
    <br>
  </center>
</div>


<script type="text/javascript">
  function en_btn() {
    document.getElementById("add").disabled = false;
    document.getElementById("add").style.opacity = 1;
  }

  function delete_msg() {
    document.getElementById('msg_box').hidden = true;
  }

  function show_msg(string) {
    document.getElementById('msg_box').hidden = false;
    document.getElementById('msg_content').innerHTML = string;
  }

  function dis_btn() {
    document.getElementById("add").disabled = true;
    document.getElementById("add").style.opacity = .5;
  }

  dis_btn();

  function post_form() {
    dis_btn();
    var filedata = new FormData();
    filedata.append('upload_img', document.getElementsByName('upload_img')[0].files[0]);
    filedata.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
    console.log(filedata);
    $.ajax({
      url: "omrs",
      type: 'POST',
      data: filedata,
      processData: false,
      contentType: false,
      success: function(data) {
        window.location.href = "show";
      },
      error: function() {
        show_msg("Image is not uploaded, please try again")
      }
    });
  }
  document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
    const dropZoneElement = inputElement.closest(".drop-zone");

    dropZoneElement.addEventListener("click", (e) => {
      inputElement.click();
    });

    inputElement.addEventListener("change", (e) => {
      if (inputElement.files.length) {
        updateThumbnail(dropZoneElement, inputElement.files[0]);
      }
    });

    dropZoneElement.addEventListener("dragover", (e) => {
      e.preventDefault();
      dropZoneElement.classList.add("drop-zone--over");
    });

    ["dragleave", "dragend"].forEach((type) => {
      dropZoneElement.addEventListener(type, (e) => {
        dropZoneElement.classList.remove("drop-zone--over");
      });
    });

    dropZoneElement.addEventListener("drop", (e) => {
      e.preventDefault();

      if (e.dataTransfer.files.length) {
        inputElement.files = e.dataTransfer.files;
        updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
      }

      dropZoneElement.classList.remove("drop-zone--over");
    });
  });

  function updateThumbnail(dropZoneElement, file) {
    let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

    if (dropZoneElement.querySelector(".drop-zone__prompt")) {
      dropZoneElement.querySelector(".drop-zone__prompt").remove();
    }

    if (!thumbnailElement) {
      thumbnailElement = document.createElement("div");
      thumbnailElement.classList.add("drop-zone__thumb");
      dropZoneElement.appendChild(thumbnailElement);
    }

    thumbnailElement.dataset.label = file.name;

    if (file.type.startsWith("image/")) {
      const reader = new FileReader();

      reader.readAsDataURL(file);
      reader.onload = () => {
        thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
      };
    } else {
      thumbnailElement.style.backgroundImage = null;
    }
  }
</script>

{% endblock %}
